.work-content{
  padding: 7rem 2rem;
  overflow-x: hidden;

  @include respond(phone) {
    padding: 7rem 0;
  }
}

.ngx-gallery-preview-img {
  width: auto;
}

.title {
  color: #fff;
  font-size: 3rem;
  margin-left: 2rem;
  text-transform: uppercase;
  letter-spacing: .7rem;
  text-align: center;
  margin: 0;
  padding: 3rem 0;
  font-family: 'Pacifico', cursive;
}

.center {
  text-align: center;
  margin: 0 auto;
}

.d-block {
  display: block;
}