<div class="contact__title">
  <h1>Get in Touch</h1>
</div>

<div class="row">
  <div class="contact__form col-2">
    <form class="form">
      <div class="form__group">
        <label for="name" class="form__label">name</label>
        <input type="text" class="form__control" id="name" placeholder="your name">
      </div>

      <div class="form__group">
        <label for="contact_number" class="form__label">contact number</label>
        <input type="text" class="form__control" id="contact_number" placeholder="your contact number">
      </div>

      <div class="form__group d-block">
        <label for="message" class="form__label">contact number</label>
        <textarea type="text" class="form__control" id="message" placeholder="please leave a message"></textarea>
      </div>

      <div class="form__group d-block">
        <button class="form__submit">send message</button>
      </div>
    </form>
  </div>

  <div class="col-2">

  </div>
</div>