<div class="whatwedo__title">
  <h1>What We do</h1>
  <a [routerLink]="['../', 'work', 'projects']" class="whatwedo__title__cta">view all projects</a>
</div>

<div class="whatwedo__item-container">
  <div class="row">
    <a href="#" class="whatwedo__item-container__item col-3">
      <div class="whatwedo__item-container__item__overlay">campaign</div>
      <div class="whatwedo__thumbnail">
        <img src="assets/images/categories/campaign/campaign_1.jpg" alt="campaign">
      </div>
    </a>

    <a href="#" class="whatwedo__item-container__item col-3">
      <div class="whatwedo__item-container__item__overlay">branded</div>
      <div class="whatwedo__thumbnail">
        <img src="assets/images/categories/branded/branded_1.jpg" alt="campaign">
      </div>
    </a>

    <a href="#" class="whatwedo__item-container__item col-3">
      <div class="whatwedo__item-container__item__overlay">digital</div>
      <div class="whatwedo__thumbnail">
        <img src="assets/images/categories/digital/digital_1.jpg" alt="campaign">
      </div>
    </a>
  </div>
</div>