.projects {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  &__thumbnail {
    display: flex;
    height: 0;
    overflow: hidden;
    padding-bottom: 100%;
    position: relative;
    background-color: #000;

    & > img,
    & > video {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &--video {
      height: 70rem;
      padding: 0;
    }

  }

  &__item {
    position: relative;
    
    &--gallery {

    }

    &--link {

    }

    @include respond(phone) {
      margin: 0;
    }
  }

  &__overlay {
    display: flex;
    // align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(#000, .7);

    height: 10rem;
    width: 100%;
    transition: height .4s;

    &__content {
      color: #fff;
      padding: 1rem 2rem;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      justify-content: space-between;

      &__title {
        font-size: 2.5rem;
      }

      &__subtext {
        font-size: 1.6rem;
      }
    }

    &__cta {
      display: flex;
      justify-content: center;
      align-items: center;
      white-space: nowrap;

      & > a {
        border-radius: 100rem;
        background-color: rgba(#fff, .8);
        border: 1px solid  rgba(#000, .8);
        color: #000;
        font-size: 1.5rem;
        padding: .5rem 1.5rem;
        font-weight: 700;
        transition: all .4s;

        &:hover {
          background-color: rgba(#000, .8);
          color: #fff;
          border: 1px solid #fff;
        }
      }
    }
  }
}