<div class="hero">
  <div class="hero__bg-video">
    <video autoplay muted loop>
      <source src="assets/videos/the-strip.mp4" type="video/mp4">
      <!--<source src="assets/videos/traffic_disco.mp4" type="video/mp4">-->
      <!--<source src="assets/videos/vespa-bokeh.mp4" type="video/mp4">-->
    </video>
    <div class="hero__bg-video__content">
      <div class="hero__bg-video__content__nav">
        <!--<a [routerLink]="['', 'work', 'projects']" class="hero__bg-video__content__nav__item">projects</a>
        <a [routerLink]="['', 'work', 'clients']" class="hero__bg-video__content__nav__item">clients</a>
        <a [routerLink]="['', 'work', 'contact']" class="hero__bg-video__content__nav__item">contact</a>-->
        <a [routerLink]="['.']" fragment="whatwedo" class="hero__bg-video__content__nav__item">what we do</a>
        <a [routerLink]="['.']" fragment="clients" class="hero__bg-video__content__nav__item">clients</a>
        <a [routerLink]="['.']" fragment="contact" class="hero__bg-video__content__nav__item">contact</a>
      </div>
      <div class="hero__bg-video__title">Abinov Raina</div>
      <div class="hero__bg-video__subtitle">photography</div>
    </div>
  </div>
</div>

<app-whatwedo class="whatwedo" id="whatwedo"></app-whatwedo>
<app-clients class="clients" id="clients"></app-clients>
<app-contacts class="contact" id="contact"></app-contacts>
