<router-outlet></router-outlet>
<div class="row">
  <div class="projects__item col-2">
    <div class="projects__thumbnail">
      <img src="assets/images/projects/advertising_1/girl_1.jpg" alt="girl1">
      <div class="projects__overlay">
        <div class="projects__overlay__content">
          <div class="projects__overlay__content__text">
            <div class="projects__overlay__content__title">
              Project 1
            </div>
            <div class="projects__overlay__content__subtext">
              Project 1: was a 6 months long project
            </div>
          </div>
          <div class="projects__overlay__cta">
            <a [routerLink]="['1', 'gallery']">gallery</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="projects__item col-2">
    <div class="projects__thumbnail">
      <img src="assets/images/projects/advertising_1/girl_2.jpg" alt="girl1">
      <div class="projects__overlay">
        <div class="projects__overlay__content">
          <div class="projects__overlay__content__text">
            <div class="projects__overlay__content__title">
              Project 1
            </div>
            <div class="projects__overlay__content__subtext">
              Project 1: was a 6 months long project
            </div>
          </div>
          <div class="projects__overlay__cta">
            <a [routerLink]="['1', 'gallery']">gallery</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="projects__item col-2">
    <div class="projects__thumbnail">
      <img src="assets/images/projects/advertising_1/pump.jpg" alt="girl1">
      <div class="projects__overlay">
        <div class="projects__overlay__content">
          <div class="projects__overlay__content__text">
            <div class="projects__overlay__content__title">
              Project 1
            </div>
            <div class="projects__overlay__content__subtext">
              Project 1: was a 6 months long project
            </div>
          </div>
          <div class="projects__overlay__cta">
            <a href="">web link</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="projects__item col-2">
    <div class="projects__thumbnail">
      <!--<img src="assets/images/projects/advertising_1/girl_1.jpg" alt="girl1">-->
      <video autoplay muted loop>
        <!--<source src="assets/videos/the-strip.mp4" type="video/mp4">-->
        <source src="assets/videos/traffic_disco.mp4" type="video/mp4">
        <!--<source src="assets/videos/vespa-bokeh.mp4" type="video/mp4">-->
      </video>
      <div class="projects__overlay">
        <div class="projects__overlay__content">
          <div class="projects__overlay__content__text">
            <div class="projects__overlay__content__title">
              Project 1
            </div>
            <div class="projects__overlay__content__subtext">
              Project 1: was a 6 months long project
            </div>
          </div>
          <div class="projects__overlay__cta">
            <a [routerLink]="['1', 'gallery']">gallery</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="projects__item col-3">
    <div class="projects__thumbnail">
      <img src="assets/images/projects/advertising_1/wall.jpg" alt="girl1">
      <div class="projects__overlay">
        <div class="projects__overlay__content">
          <div class="projects__overlay__content__text">
            <div class="projects__overlay__content__title">
              Project 1
            </div>
            <div class="projects__overlay__content__subtext">
              Project 1: was a 6 months long project
            </div>
          </div>
          <div class="projects__overlay__cta">
            <a href="">web link</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="projects__item col-3">
    <div class="projects__thumbnail">
      <img src="assets/images/projects/advertising_1/girl_2.jpg" alt="girl1">
      <div class="projects__overlay">
        <div class="projects__overlay__content">
          <div class="projects__overlay__content__text">
            <div class="projects__overlay__content__title">
              Project 1
            </div>
            <div class="projects__overlay__content__subtext">
              Project 1: was a 6 months long project
            </div>
          </div>
          <div class="projects__overlay__cta">
            <a [routerLink]="['1', 'gallery']">gallery</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="projects__item col-3">
    <div class="projects__thumbnail">
      <!--<img src="assets/images/projects/advertising_1/girl_1.jpg" alt="girl1">-->
      <video autoplay muted loop>
        <source src="assets/videos/the-strip.mp4" type="video/mp4">
        <!--<source src="assets/videos/traffic_disco.mp4" type="video/mp4">-->
        <!--<source src="assets/videos/vespa-bokeh.mp4" type="video/mp4">-->
      </video>
      <div class="projects__overlay">
        <div class="projects__overlay__content">
          <div class="projects__overlay__content__text">
            <div class="projects__overlay__content__title">
              Project 1
            </div>
            <div class="projects__overlay__content__subtext">
              Project 1: was a 6 months long project
            </div>
          </div>
          <div class="projects__overlay__cta">
            <a [routerLink]="['1', 'gallery']">gallery</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="projects__item col-1">
    <div class="projects__thumbnail projects__thumbnail--video">
      <!--<img src="assets/images/projects/advertising_1/girl_1.jpg" alt="girl1">-->
      <video autoplay muted loop>
        <!--<source src="assets/videos/the-strip.mp4" type="video/mp4">-->
        <!--<source src="assets/videos/traffic_disco.mp4" type="video/mp4">-->
        <source src="assets/videos/vespa-bokeh.mp4" type="video/mp4">
      </video>
      <div class="projects__overlay">
        <div class="projects__overlay__content">
          <div class="projects__overlay__content__text">
            <div class="projects__overlay__content__title">
              Project 1
            </div>
            <div class="projects__overlay__content__subtext">
              Project 1: was a 6 months long project
            </div>
          </div>
          <div class="projects__overlay__cta">
            <a [routerLink]="['1', 'gallery']">gallery</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
